<div>
	<h2>Logs of {{allLogsCtrl.username}}</h2>

	<div ng-if="logs.length == 0">
		<div class="alert alert-info" role="alert">Loading...</div>
	</div>


		<table class="table table-hover">
			<thead>
				<tr>
					<th>Username</th>
					<th>Time</th>
					<th>Description</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="log in allLogsCtrl.logs">
					<td>{{log.username}}</td>
					<td>{{log.logTime}}</td>
					<td>{{log.logDescription}}</td>
				</tr>
			</tbody>
		</table>

</div>