<div>
<p>SSN
	<input type="text" placeholder="ssn" ng-model=registerClientCtrl.client.ssn> </input> 
</p>
<br>
<p>Firsname
	<input type="text" placeholder="firstname" ng-model=registerClientCtrl.client.firstName> </input> 
</p>
<br>

<p>Lastname
	<input type="text" placeholder="lastname" ng-model=registerClientCtrl.client.lastName> </input> 
</p>
<br>

<p>IDCardNumber
	<input type="text" placeholder="serie" ng-model=registerClientCtrl.client.identityCardNumber> </input> 
</p>
<br>

<p>Address
	<input type="text" placeholder="address" ng-model=registerClientCtrl.client.address> </input> 
</p>
<br>

<p>Email
	<input type="text" placeholder="email" ng-model=registerClientCtrl.client.email> </input> 
</p>
<br>
	
	
	<button ng-click = registerClientCtrl.submit()>Submit</button>
	<br>
	<br>
	<a class="btn btn-primary" href="#/clients">Back</a>

</div>